@import "tailwindcss";

@theme {
  --animate-blink: blink 0.9s infinite;
  --animate-typein: typein 0.5s ease forwards;

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes typein {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
